.admin-container {
  display: flex;
}

.admin-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
  height: 100vh;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.admin-sidebar ul li a:hover,
.admin-sidebar ul li a.active {
  background-color: #ddd;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
}
