.admin-layout {
  display: flex;
}

.admin-sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
}

.admin-sidebar a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.admin-sidebar a.active {
  background-color: #333;
  color: #fff;
}

.admin-content {
  margin-left: 270px;
  padding: 20px;
  width: calc(100% - 270px);
  padding-top: 100px;
}
